<html lang="en">
<head>
    <title>Forgot Password</title>
</head>
<body>
    <h1>Halo {{username}}</h1>
    <h2>Here to change your Password</h2>
    <h3>1 hour validation</h3>
    <a href={{link}}>
        <button>Verify</button>
    </a>
</body>
</html>